In [ ]:
5.1 Print

In [1]:
print ('Ini kelas Algoritma')

Ini kelas Algoritma

In [2]:
print ("Ini kelas Algotirma")

Ini kelas Algotirma

In [3]:
print ("i don't understant what are you saying")

i don't understant what are you saying

In [4]:
print('i don't understant what are you saying')

SyntaxError: invalid syntax (Temp/ipykernel_23364/2830219799.py, line 1)

In [5]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [6]:
Mahasiswa = 28
Uang_di_dompet = 5000
print(Mahasiswa)
print(Uang_di_dompet)
print(Mahasiswa*Uang_di_dompet)

28
5000
140000

In [7]:
nama_depan = 'Tono'
nama_tengah =' '
nama_belakang = 'Pramono'
print(nama_depan + nama_tengah + nama_belakang)

Tono Pramono

In [ ]:
5.2 Input

In [8]:
nama = input("siapakah nama anda? ")
kegiatan = input('apakah kegiatan anda sekarang, ' + nama + "? ")
print("semangat " + kegiatan + " nya yaa, " + nama + "!")

siapakah nama anda? Shanta
apakah kegiatan anda sekarang, Shanta? Kuliah
semangat Kuliah nya yaa, Shanta!

In [ ]:
5.3 Tipe Data pada Python

In [9]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
print("Total uang anda adalah Rp " + uang_di_dompet +uang_di_bank)

Berapakah jumlah uang di dompet anda? 2000
Berapakah jumlah uang anda di Bank? 100000
Total uang anda adalah Rp 2000100000

In [10]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp " + str(total_uang))

Berapakah jumlah uang di dompet anda? 2000
Berapakah jumlah uang anda di Bank? 100000
Total uang anda adalah Rp 102000

In [ ]:
cara melihat tipe data :

In [11]:
type(uang_di_dompet)

str

In [12]:
type(uang_di_bank)

str

In [13]:
type(total_uang)

int

In [ ]:
Buatlah program penjumlahan dua bilangan dengan menggunakan 
perintah input dan print

In [14]:
bilangan_pertama = input('masukkan bilangan pertama: ')
bilangan_kedua = input('masukkan bilangan kedua: ')
jumlah = float(bilangan_pertama) + float(bilangan_kedua)
print('jumlah kedua bilangan adalah: ' + str(jumlah))

masukkan bilangan pertama: 3
masukkan bilangan kedua: 4
jumlah kedua bilangan adalah: 7.0

In [ ]:
5.4 Formatted String

In [15]:
nama = 'Antonio'
pekerjaan = 'mahasiswa'
institusi = 'Universitas Udayana'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi + '.')

Antonio adalah seorang mahasiswa di Universitas Udayana.

In [16]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Antonio adalah seorang mahasiswa di Universitas Udayana.

In [17]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Antonio adalah seorang mahasiswa di Universitas Udayana.

In [ ]:
5.5 Strings Index

In [18]:
kelas = 'ini kelas matematika'

In [19]:
print(kelas[0:3])

ini

In [20]:
print(kelas[0:-1])

ini kelas matematik

In [21]:
print(kelas[5:-1])

elas matematik

In [22]:
print(kelas[2:-1:3])

iesami

In [23]:
print(kelas[:-3])

ini kelas matemat

In [24]:
print(kelas[1:])

ni kelas matematika

In [25]:
print(kelas[:])

ini kelas matematika

In [ ]:
5.6 Strings Method

In [27]:
judul = 'apa itu diabetes?'

In [28]:
print(len(judul))

17

In [29]:
judul.upper()

'APA ITU DIABETES?'

In [30]:
judul.lower()

'apa itu diabetes?'

In [31]:
judul.find('itu')

4

In [32]:
judul.find('apa')

0

In [33]:
judul.replace('apa', 'bagaimana')

'bagaimana itu diabetes?'

In [34]:
judul.replace('Apa', 'bagaimana')

'apa itu diabetes?'

In [35]:
print('apa'in judul)

True

In [36]:
print('Apa' in judul)

False

In [ ]:
5.7 Operasi Matematika di Python

In [37]:
print(4+5)
print(4-5)
print(4*5)
print(5/6)
print(5//6)
print(5%6)
print(4**5)
x=5
x+=3
print(x)
x-=4
print(x)
x*=5
print(x)

9
-1
20
0.8333333333333334
0
5
1024
8
4
20

In [ ]:
5.8 Operasi Perbandingan di Python

In [38]:
x = 5>4
print(x)
x = 4<5
print(x)
x = 5 >= 4
print(x)
x = 4 <= 5
print(x)
x = 5 == 5
print(x)
x = 5 != 6
print(x)

True
True
True
True
True
True

In [ ]:
5.9 Operator Logika di Python

In [39]:
buah_sirsak = 5
buah_kedondong = 10
print(buah_sirsak > 4 and buah_kedondong < 11)

True

In [40]:
print(buah_sirsak < 4 or buah_kedondong < 11)

True

In [41]:
print(buah_sirsak < 4 or buah_kedondong > 11)

False

In [42]:
print(not(buah_sirsak < 4 or buah_kedondong > 11))

True

In [ ]:
5.10 Operation if di Python

In [43]:
nilai = float(input('nilai kamu adalah '))
if nilai >=90 :
    print('kamu mendapat nilai A')
    print('nice work, congrats!!')
if nilai <80 and nilai >=70 :
    print('kamu mendapatkan nilai B')
    print('keep the spirit, improve your performance again')
if nilai >=60 and nilai <70 :
    print('kamu mendapatkan nilai C')
    print('next time should be better')
if nilai >=50 and nilai <60 :
    print('kamu mendapatkan nilai D')
    print('try again next year')
if nilai <50 :
    print('kamu mendapatkan nilai E')
    print('see you next year')

nilai kamu adalah 70
kamu mendapatkan nilai B
keep the spirit, improve your performance again

In [ ]:
Buatlah Program yang merubah tinggi badan seseorang 
dari cm ke inci atau sebaliknya dari inci ke cm.

In [44]:
tinggi = float(input('berapakah tinggi kamu? '))
cm_atau_inci = input('tingginya dalam cm atau inci? ')

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print('tinggi kamu adalah ' + str(tinggi) + ' inci')
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi*0.393701
    print(f'tinggi kamu adalah {tinggi} cm')

berapakah tinggi kamu? 166
tingginya dalam cm atau inci? cm
tinggi kamu adalah 65.354366 inci

In [ ]:
5.11 While loop

In [45]:
a = 2
while a < 4:
    print('angka ' + str(a) + ' masih dibawah 4')
    a +=2

angka 2 masih dibawah 4

In [46]:
a = 0
while a < 4:
    print(a * '*')
    a +=1

*
**
***